body{
  background-color: inherit;
}

header{
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 10px;
}

h1{
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  color: #2c2c2f;
}

h2{
  font-family: 'Merriweather', serif;
  font-size: 20px;
}

.nav{
  font-family: 'Open sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

a{
  font-family: 'Merriweather', serif;
}

a:link{
  color: #2c2c2f;
}

a:hover{
  background-color: #ffff99;
}

a:visited{
  color: #2c2c2f;
  font-family: 'Merriweather', serif;
}

div.container{
  width:100%;
  max-width: 700px;
  margin: 0px auto;
  font-family: 'Merriweather', serif;
  font-size: 15px;
  color: #2c2c2f;
  line-height: 1.5;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.main-container{
  margin-top: 100px;
}

div.nav{
  text-align: center;
}

div.meta{
  font-family: 'Open sans', serif;
  font-size: 14px;
  color: darkgrey;
  margin-bottom: 5px;
}

div.about{
  width:100%;
  max-width: 700px;
  margin: 0px auto;
  margin-top: 100px;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  margin-bottom: 150px;
  line-height: 1.5;
}

.grossabstand{
  letter-spacing: 0.05em;
}

.zitat{
  letter-spacing: 0.05em;
  font-style: oblique;
}

div.arrow{
  font-size: 30px;
  font-family: 'Open sans', sans-serif;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
